<footer id="footer">
    <div class="container">
        <div class="row mb-3">
            <div class="col-3">
                <h2 class="footer-title secondary-title">Hakkımızda</h2>

                <div class="secondary-title text-secondary">
                     <p class="mt-2 ">
                         Bu sitede Dünya'nın eski yapılarının hikayesini paylaştım.</p>
                     
                     <address>
                         <i class="fas fa-map-marker-alt text-primary"></i> 
                         Sancaktepe
                     </address>

                     <div class="phone">
                         <i class="fas fa-mobile text-primary"></i> 
                         512 345 67 89
                     </div>

                     <div class="email">
                         <i class="fas fa-envelope text-primary"></i> 
                         umut67614@gmail.com
                     </div>

                </div>
            </div>
            <div class="col-3">
                <h2 class="footer-title secondary-title">Makaleler</h2>

                <div class="feature-post">
                    <div class="flex-item">
                        <article class="article">
                            <div class="d-flex">
                                <a href="/tac-mahal">
                                    <img src="../static/images/anasayfa/tac.jpg" class="object-fit px-1" alt="">
                                    <div class="px-1">
                                        <a href="/tac-mahal" class="text-title display-2 text-dark">
                                         Daimi Aşka Adanan Bir Anıt: Tac Mahal’in Hikayesi Nedir?
                                        </a>
                                        <p class="secondary-title text-secondary display-3">
                                             <span><i class="far fa-clock text-primary"></i>  Şubat 21, 2018 10:10 </span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="flex-item">
                     <article class="article">
                         <div class="d-flex">
                             <a href="/eyfel">
                                 <img src="../static/images/anasayfa/paris.jpg" class="object-fit px-1" alt="">
                                 <div class="px-1">
                                     <a href="/eyfel" class="text-title display-2 text-dark">
                                         Eyfel Kulesi'nin ilginç hikayesi: Geçici olarak yapılmıştı
                                     </a>
                                     <p class="secondary-title text-secondary display-3">
                                          <span><i class="far fa-clock text-primary"></i>  Nisan 25, 2021 09:36</span>
                                     </p>
                                 </div>
                             </a>
                         </div>
                     </article>
                      </div>
                      <div class="flex-item">
                         <article class="article">
                             <div class="d-flex">
                                 <a href="/cin-seddi">
                                     <img src="../static/images/anasayfa/cin2.jpg" class="object-fit px-1" alt="">
                                     <div class="px-1">
                                         <a href="/cin-seddi" class="text-title display-2 text-dark">
                                             Çin Seddi Neden Yapıldı? Çin Seddi Ne Zaman, Nerede ve Kime Karşı Yapılmıştır?
                                         </a>
                                         <p class="secondary-title text-secondary display-3">
                                              <span><i class="far fa-clock text-primary"></i> Nisan 17, 2023 14:40 </span>
                                         </p>
                                     </div>
                                 </a>
                             </div>
                         </article>
                     </div>
                </div>
            </div>
            <div class="col-3">
                 <h2 class="footer-title secondary-title">Etiketler</h2>

                 <div class="tags">
                     <div class="d-flex flex-wrap">
                         <a href="#" class="nav-link btn bg-light">Anıt</a>
                         <a href="#" class="nav-link btn bg-light">Eski</a>
                         <a href="#" class="nav-link btn bg-light">Turistik</a>
                         <a href="#" class="nav-link btn bg-light">Dünya Harikaları</a>
                         <a href="#" class="nav-link btn bg-light">Gezi</a>
                     </div>
                 </div>

                 <h2 class="footer-title secondary-title mt-2">Sosyal Hesaplar</h2>

                 <div class="tags social">
                     <div class="d-flex flex-wrap">
                         <a href="#" class="nav-link btn bg-light"><i class="fab fa-facebook-f"></i></a>
                         <a href="#" class="nav-link btn bg-light"><i class="fab fa-twitter"></i></a>
                         <a href="#" class="nav-link btn bg-light"><i class="fab fa-instagram"></i></a>
                         <a href="#" class="nav-link btn bg-light"><i class="fab fa-dribbble"></i></a>
                     </div>
                 </div>

            </div>
        </div>

        <!-- copyrights  -->
        <div class="copyrights">
            <p class="text-center text-secondary display-2">
                 © 2023 <a href="#" class="text-primary">Umut Aydın</a> - Tarafından Yapıldı.
            </p>
        </div>
    </div>
 </footer>