<header id="header" class="shadow bg-light">
    <nav class="container navbar">
        <a href="/" class="nav-brand text-dark">
             WebSite
         </a>

         <!-- toggle button -->
         <button class="toggle-button">
             <span><i class="fas fa-bars"></i></span>
         </button>

         <!-- collapse on toggle button click -->
         <div class="collapse">
             <ul class="navbar-nav">
                 <a href="/" class="nav-link">Anasayfa</a>
                 <a href="/iletisim" class="nav-link">İletişim</a>
                 {% if rol == "yönetici" %}
                 <a href="/kontrol" class="nav-link">Kontrol</a>
                 {% endif %}
                 {% if Giris == None %}
                        <a href="/login" class="nav-link">Giris Yap</a>
                        <a href="/kayit" class="nav-link">Kayıt Ol</a>
                        {% endif %} 
                        {% if Giris != None %}
                        <a href="/profil" class="nav-link">{{Giris}}</a>
                        <a href="/bilgi" class="nav-link">Bilgileri Güncelle</a>
                        <a href="/çıkış" class="nav-link">Çıkış Yap</a>
                    {% endif %}
                        
                 
             </ul>
         </div>

           <!-- collapse on toggle button click -->
           <div class="collapse">
               <ul class="navbar-nav">
                     <div class="search-box">
                         <a href="#" class="nav-link"><i class="fas fa-search"></i></a>
                     </div>
                     <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                     <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                     <a href="#" class="nav-link"><i class="fab fa-dribbble"></i></a>
               </ul>
           </div>
    </nav>
</header>