<section class="slider">
    <div class="container">

        <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="/cin-seddi">
                            <img src="../static/images/anasayfa/cin3.jpg" class="img-fluid" alt="">
                            <img src="../static/images/anasayfa/cin4.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                     <!-- Slides -->
                      <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="/rodos-heykeli">
                            <img src="../static/images/anasayfa/rodos2.jpg" class="img-fluid" alt="">
                            <img src="../static/images/anasayfa/rodos3.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                     <!-- Slides -->
                      <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="/machu-picchu">
                            <img src="../static/images/anasayfa/mac.jpg" class="img-fluid" alt="">
                            <img src="../static/images/anasayfa/mac3.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                        <!-- Slides -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="/tac-mahal">
                            <img src="../static/images/anasayfa/tac2.jpg" class="img-fluid" alt="">
                            <img src="../static/images/anasayfa/tac3.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                        <!-- Slides -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="/eyfel">
                            <img src="../static/images/anasayfa/paris2.jpg" class="img-fluid" alt="">
                            <img src="../static/images/anasayfa/paris3.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                        <!-- Slides -->
                     
                </div>
            </div>

    </div>
</section>